/* =Common Styles
-------------------------------------------------------------- */


body {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #626262;
}

p {
  font-family: 'Lato', sans-serif;
}

.btn {
  font-weight: 500;
  font-size: 16px;
}

.btn:focus {
  outline: none;
}

.btn:active:focus {
  outline: none;
}

.btn-custom {
  color: #fff;
}

.btn-custom:hover, .btn-custom:focus {
  color: #fff;
}

.btn-dark {
  background-color: #444;
  border-color: #444;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background-color: #303030;
  border-color: #303030;
  color: #fff;
}

.btn-empty {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-empty:hover, .btn-empty:focus {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 400px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.title h1 {
  text-align: center;
  font-size: 46px;
}

.title hr {
  width: 100px;
  border-top: 2px solid #ccc;
}

.center {
  text-align: center;
}


/* =Preloader
-------------------------------------------------------------- */

#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10000;
  height: 100%;
}

#loader {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 55%;
  top: 50%;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  margin: -100px 0 0 -100px;
}


/* =Background
-------------------------------------------------------------- */


#backgrounds {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#backgrounds .slides {
  height: 100%;
}

#backgrounds .slides li {
  height: 100%;
}

#backgrounds .slides li .slide {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}

#backgrounds .slides li .slide2 {
  background-image: url("../images/bg/2.jpg");
}

#backgrounds .slides li .slide3 {
  background-image: url("../images/bg/3.jpg");
}

#backgrounds .slides li .slide4 {
  background-image: url("../images/bg/4.jpg");
}

#backgrounds .slides li .slide5 {
  background-image: url("../images/bg/5.jpg");
}

#backgrounds .slides li .slide6 {
  background-image: url("../images/bg/6.jpg");
}

#backgrounds .slides li .slide1 {
  background-image: url("../images/bg/1.jpg");
}
/* =Video
-------------------------------------------------------------- */


#video-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#bgndVideo{
  display: none;
}


/* =Header
-------------------------------------------------------------- */


#topnav {
  background-color: #fff;
  border-bottom: 0;
  padding: 10px 0;
  transition: all .3s ease;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

#topnav.scrolled {
  opacity: 1;
  padding: 0;
}

#topnav .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 500;
}

#topnav .navbar-nav > .active > a {
  background-color: #fff;
}


/* =Home
-------------------------------------------------------------- */


#home {
  height: 550px;
  background-color: rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 10;
}

.banner {
  color: #fff;
  padding-top: 170px;
  padding-bottom: 170px;
  text-align: center;
}

.banner h1 {
  text-transform: uppercase;
  font-size: 65px;
  margin: 0;
}

.banner h3 {
  margin: 5px 0 15px;
  font-size: 21px;
}

.banner .btn-custom {
  margin-right: 10px;
}


/* =About
-------------------------------------------------------------- */

.about-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  font-size: 21px;
  color: #959595;
}

.picture {
  width: 135px;
  height: 135px;
  position: absolute;
  left: 0;
  right: 0;
  top: -75px;
  margin: auto;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;b
  overflow: hidden;
}

.picture img {
  width: 125px;
}

.feature{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.feature p{
  color: #959595;
}

.heading-content h3 {
  display: inline-block;
}
.heading-content .fa {
  margin-right: 5px;
}


/* =Timeline
-------------------------------------------------------------- */

#history{
  background-color: #f6f6f6;
}

.timeline {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.timeline:before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 3px;
  background-color: #e2e2e2;
  left: 0;
  right: 0;
  margin: auto;
}

.timeline > li {
  position: relative;
  margin-bottom: 25px;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.year {
  width: 65px;
  height: 65px;
  margin: 30px auto;
  text-align: center;
  background-color: #fff;
  border: 2px solid #e2e2e2;
  border-radius: 50%;
  font-size: 22px;
  z-index: 100;
  position: relative;
  line-height: 60px;
}

.timeline-panel {
  width: 46%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px;
  transition: all .3s ease;
}

.timeline-panel:before {
  content: "";
  position: absolute;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  top: 20px;
  transition: all .3s ease;
}

.timeline-panel:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  top: 20px;
  border-radius: 50%;
  left: 50%;
  margin-left: -10px;
  border: 2px solid #e2e2e2;
  transition: all .3s ease;
}

.timeline-panel.left {
  text-align: right;
}

.timeline-panel.left:before {
  left: 0;
  margin-left: 46%;
  border-left: 15px solid #FFF;
}

.timeline-panel.right {
  float: right;
}

.timeline-panel.right:hover {
  margin-left: 0;
  margin-right: 1%;
}

.timeline-panel.right:hover:before {
  margin-right: 47%;
}

.timeline-panel.right:before {
  border-right: 15px solid #fff;
  right: 0;
  margin-right: 46%;
}

.timeline-panel:hover {
  cursor: default;
  margin-left: 1%;
}

.timeline-panel:hover:before {
  margin-left: 47%;
}

.timeline-panel:hover:after {
  border: 6px solid transparent;
}

.timeline-panel p {
  font-size: 14px;
  color: #959595;
}

.date {
  display: block;
  font-family: 'Lato', sans-serif;
}


/* =Services
-------------------------------------------------------------- */


#services-box {
  text-align: center;
}

#service-detail {
  margin-bottom: 50px;
}

#service-detail p {
  color: #959595;
}

.services {
  border: 0;
}

.services > li {
  width: 25%;
  display: inline-block;
}

.services > li.active > a {
  border: 2px solid transparent;
}

.services > li.active > a:hover, .services > li.active > a:focus {
  background-color: #fff;
  border: 2px solid transparent;
}

/*
.services > li.active > a:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 30px;
  bottom: -15px;
  background-color: transparent;
  border-left: 10px solid #FFF;
  border-right: 10px solid #FFF;
  left: 50%;
  margin-left: -11px;
}
*/

.services > li:last-child > a:before {
  border: 0;
}

.services > li > a {
  width: 120px;
  height: 120px;
  line-height: 100px;
  margin: 50px auto;
  background-color: #fff;
  border: 2px solid #ececec;
  border-radius: 50%;
  color: #777;
  position: relative;
  transition: all .3s ease;
}

.services > li > a:hover, .services > li > a:focus {
  background-color: #fff;
}

.services > li > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 118px;
  width: 100%;
  border-top: 2px solid #ececec;
}

.services > li > a .fa {
  display: block;
  line-height: inherit;
}


/* =Call To action
-------------------------------------------------------------- */


#call-to-action {
  background-color: rgba(0, 0, 0, 0.35);
  color: #FFF;
  text-align: center;
  overflow: hidden;
  min-height: 0;
}

#call-to-action h1 {
  font-size: 36px;
}

#call-to-action p {
  width: 90%;
  margin: 10px auto;
}


/* =Work
-------------------------------------------------------------- */


#work {
  background-color: #f6f6f6;
}

#filters {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 40px 0;
}

.filter {
  display: inline-block;
  padding: 8px 20px;
  font-weight: 500;
  position: relative;
}

.filter:after {
  content: "/";
  position: absolute;
  left: 100%;
  color: #626262;
}

.filter:last-child:after {
  content: none;
}

.filter:hover {
  cursor: pointer;
}

#projects {
  padding: 0;
  list-style: none;
}

#projects li {
  width: 25%;
  display: inline-block;
  float: left;
  padding: 2px;
  opacity: 0;
  display: none;
}

#projects li.featured {
  width: 50%;
}

#projects li img {
  width: 100%;
}

.single-project {
  display: block;
  position: relative;
  overflow: hidden;
}

.single-project:hover .overlay {
  opacity: 1;
}

.single-project:hover .overlay h2 {
  opacity: 1;
  -webkit-animation: rotateInDownLeft .6s both;
  animation: rotateInDownLeft .6s both;
}

.single-project:hover .overlay span {
  opacity: 1;
  -webkit-animation: rotateInUpLeft .6s both;
  animation: rotateInUpLeft .6s both;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all .3s ease;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.overlay h2 {
  display: inline-block;
  padding: 5px;
  border: 1px solid #FFF;
  opacity: 0;
}

.overlay span {
  display: block;
  font-weight: 500;
  font-size: 15px;
  opacity: 0;
}

#project-modal .modal-dialog {
  text-align: center;
}

#project-modal .modal-dialog img {
  max-width: 100%;
  border-radius: 0 0 6px 6px;
}

#project-modal .modal-content {
  border: 0;
}

#project-modal .modal-header {
  border-bottom: 0;
}

#project-modal .modal-body {
  padding: 0;
}

.modal-backdrop.in {
  opacity: .7;
  filter: alpha(opacity=70);
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.modal.in .modal-dialog {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.control a {
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -25px;
  color: #FFF;
  text-shadow: 0 1px 1px #444;
}

.control a:before {
  font-family: 'FontAwesome';
  font-size: 40px;
}

.control a:hover {
  text-decoration: none;
}

#prev a {
  left: 0;
}

#prev a:before {
  content: "\f104";
}

#next a {
  right: 0;
}

#next a:before {
  content: "\f105";
}


/* =Contact
-------------------------------------------------------------- */


#contact-form .form-control {
  background-color: #f4f4f4;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #efefef;
}

#contact-form .form-control:focus {
  border-color: #66AFE9;
}

#contact-form textarea {
  resize: none;
  min-height: 140px;
}

#contact-form .form-group.error, #contact-form .form-group.success {
  position: relative;
}

#contact-form .form-group.error:after, #contact-form .form-group.success:after {
  font-family: 'FontAwesome';
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 14px;
}

#contact-form .form-group.error:after {
  content: "\f00d";
  color: #d95c5c;
}

#contact-form .form-group.success:after {
  content: "\f00c";
  color: #00c077;
}

.sent {
  padding: 40px 20px;
  text-align: center;
  background-color: #CBF5E5;
  border-radius: 4px;
  color: #1b8c61;
  border: 1px solid #B8E7D5;
  display: none;
  margin: 10px 0;
}

.sent span {
  font-size: 18px;
}


/* =Footer
-------------------------------------------------------------- */


footer {
  position: relative;
  z-index: 10;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #444;
  color: #fff;
  text-align: center;
}

.socials {
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.socials li {
  display: inline-block;
  margin: 5px;
}

.socials li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  transition: all .3s ease;
}

.socials li a:hover {
  background-color: #fff;
  color: #444;
  border-color: #444;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
}

.socials li a .fa {
  line-height: inherit;
}


/* =Media Queries
-------------------------------------------------------------- */


@media (min-width: 992px) {
  .hiding {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }

}

@media (min-width: 768px) {
  #project-modal .modal-dialog {
    width: 750px;
  }

  #project-modal .close {
    position: absolute;
    right: -35px;
    color: #FFF;
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 5px;
    outline: none;
  }

}

@media (max-width: 991px) {
  #projects li {
    width: 50%;
  }

  .animated {
    -webkit-animation: none;
    animation: none;
  }

}

@media (max-width: 767px) {
  .banner h1 {
    font-size: 42px;
  }

  .banner h3 {
    font-size: 18px;
  }

  .services > li {
    width: 50%;
  }

  .services > li:nth-of-type(2) a:before {
    content: none;
  }

}

@media (max-width: 479px) {
  #projects li {
    width: 100%;
  }

}

