.btn-custom {
  background-color: #428bca;
  border-color: #428bca;
}

.btn-custom:hover,.btn-custom:focus {
  background-color: #3276b1;
  border-color: #3276b1;
}

#topnav .navbar-nav > .active > a{
	color: #428bca;
}

.timeline-panel:hover:after {
  border-color: #428bca;
}

.services > li.active > a {
  border-color: #428bca;
  color: #428bca;
}

.services > li.active > a:hover, .services > li.active > a:focus {
  color: #428bca;
  border-color: #428bca;
}

.services > li.active > a:after{
	background-color: #428bca;
}

.services > li > a:hover, .services > li > a:focus{
	color: #428BCA;
	border-color: #428BCA;
}

.filter.active {
	color: #428BCA;
}