.btn-custom {
  background-color: #43c3a3;
  border-color: #43c3a3;
}

.btn-custom:hover, .btn-custom:focus {
  background-color: #36a88b;
  border-color: #36a88b;
}

#topnav .navbar-nav > .active > a{
	color: #43C3A3;
}

.timeline-panel:hover:after {
  border-color: #43C3A3;
}

.services > li.active > a {
  border-color: #43C3A3;
  color: #43C3A3;
}

.services > li.active > a:hover, .services > li.active > a:focus {
  color: #43C3A3;
  border-color: #43C3A3;
}

.services > li.active > a:after{
	background-color: #43C3A3;
}

.services > li > a:hover, .services > li > a:focus{
	color: #43C3A3;
	border-color: #43C3A3;
}

.filter.active {
	color: #43C3A3;
}