.btn-custom {
  background-color: #a186e4;
  border-color: #a186e4;
}

.btn-custom:hover, .btn-custom:focus {
  background-color: #8765dd;
  border-color: #8765dd;
}

#topnav .navbar-nav > .active > a{
	color: #A186E4;
}

.timeline-panel:hover:after {
  border-color: #A186E4;
}

.services > li.active > a {
  border-color: #A186E4;
  color: #A186E4;
}

.services > li.active > a:hover, .services > li.active > a:focus {
  color: #A186E4;
  border-color: #A186E4;
}

.services > li.active > a:after{
	background-color: #A186E4;
}

.services > li > a:hover, .services > li > a:focus{
	color: #A186E4;
	border-color: #A186E4;
}

.filter.active {
	color: #A186E4;
}