.btn-custom {
  background-color: #dd5b5b;
  border-color: #dd5b5b;
}

.btn-custom:hover, .btn-custom:focus {
  background-color: #d63939;
  border-color: #d63939;
}

#topnav .navbar-nav > .active > a{
	color: #DD5B5B;
}

.timeline-panel:hover:after {
  border-color: #DD5B5B;
}

.services > li.active > a {
  border-color: #DD5B5B;
  color: #DD5B5B;
}

.services > li.active > a:hover, .services > li.active > a:focus {
  color: #DD5B5B;
  border-color: #DD5B5B;
}

.services > li.active > a:after{
	background-color: #DD5B5B;
}

.services > li > a:hover, .services > li > a:focus{
	color: #DD5B5B;
	border-color: #DD5B5B;
}

.filter.active {
	color: #DD5B5B;
}