.btn-custom {
  background-color: #fdcf5d;
  border-color: #fdcf5d;
}

.btn-custom:hover, .btn-custom:focus {
  background-color: #fdc335;
  border-color: #fdc335;
}

#topnav .navbar-nav > .active > a{
	color: #FDCF5D;
}

.timeline-panel:hover:after {
  border-color: #FDCF5D;
}

.services > li.active > a {
  border-color: #FDCF5D;
  color: #FDCF5D;
}

.services > li.active > a:hover, .services > li.active > a:focus {
  color: #FDCF5D;
  border-color: #FDCF5D;
}

.services > li.active > a:after{
	background-color: #FDCF5D;
}

.services > li > a:hover, .services > li > a:focus{
	color: #FDCF5D;
	border-color: #FDCF5D;
}

.filter.active {
	color: #FDCF5D;
}